<div :id="'card' + index" @click="bindTabClick(index)" class="ui card">
	<div class="image cursor">
		<h2 class="mapcardtitle ui header cursor">{{ cals.cities[model.city] }}</h2>
		<img v-show="sels.lstindex === index" :src="cals.cimgs[model.city].aurl">
		<img v-show="sels.lstindex !== index" :src="cals.cimgs[model.city].nurl">
	</div>
	<div class="content">
		
		<div class="description">
			<div class="ui grid">
				<div class="sixteen wide column">
					<p>Metric- {{ cals.enps[ model.etype ] }} </p>
					<div class="mode_frame">
						<div class="mode_label_frame">
							<p>Mode:</p>
						</div>
						<div class="mode_content_frame">
							<p>S-Class: 
								<input type ="radio" name="'map_type'+index" v-model="sels.objs[index].maptype" value="Grid" checked="checked" @click="map_type(index)">Grid
								<input type ="radio" name="'map_type'+index" v-model="sels.objs[index].maptype" value="DIV" @click="map_type(index)">DIV
							</p>
							<p><div style="width:60px;float: left;height: 100%;">M-class: </div>
								<div style="margin-left: 60px;height: 100%;">
								<!-- <input type ="radio" name="'map_type'+index" v-model="sels.objs[index].maptype" value="Blend" @click="map_type(index)">Blend
								<input type ="radio" name="'map_type'+index" v-model="sels.objs[index].maptype" value="Layer" @click="map_type(index)">Layer -->
								<input type ="radio" name="'map_type'+index" v-model="sels.objs[index].maptype" value="Bubble" @click="map_type(index)">Splatterplots
								<br>
								<input type ="radio">Bubble Sets
							</div>
							</p>
						</div>
					</div>

					<template v-if="['ppbb', 'pdbb', 'rpbb', 'rdbb'].indexOf(model.etype) > -1" >
							<div>
								<p>{{slider_label[model.etype]}}
									<div v-if="['ppbb', 'pdbb', 'rpbb', 'rdbb'].indexOf(model.etype) > -1" style="width:100%">
										<div style="display: inline-block;width:37.5%;text-align:center">Lower</div><div style="display: inline-block;width:37.5%;text-align:center">Middle</div><div style="display: inline-block;width:25%;text-align:center">Upper</div>
									</div>
									<vue-slider :id="'slider5'+index" :ref="'eSlider'+index" v-bind="sels.objs[index].slider5" @drag-end="updateSlider(index)" v-model="sels.objs[index].slider5.value"></vue-slider>
									<div v-if="['ppbb', 'pdbb', 'rpbb', 'rdbb'].indexOf(model.etype) > -1" style="width:100%">
											<div style="display: inline-block;width:18.75%;text-align:left">0</div><div style="display: inline-block;width:37.5%;text-align:center">1.5</div><div style="display: inline-block;width:31.25%;text-align:center">3</div><div style="display: inline-block;width:12.5%;text-align:right">+Inf</div>
									</div>
								</p>	
							</div>
						</template>


					
					<template v-if="model.dtype !== 'd' & ['ppbb', 'pdbb', 'rpbb', 'rdbb'].indexOf(model.etype) < 0" >
						<div>
							<p>{{slider_label[model.etype]}}
								<vue-slider :id="'slider'+index" :ref="'eSlider'+index" v-bind="sels.objs[index].slider" @drag-end="updateSlider(index)" v-model="sels.objs[index].slider.value"></vue-slider>
						</div>
					</template>
					
					<!-- <div :id = "'bubbleslider' + index" class="sixteen wide column" style="margin-bottom: 1.5rem; padding-top: 0;">
					<p>Min-show-size:</p>
					<template v-if="model.dtype !== 'd'" >
						<div>
							<vue-slider :id="'slider4'+index" v-bind="sels.objs[index].slider4" @drag-end="updateSlider4(index)" v-model="sels.objs[index].slider4.value"></vue-slider>
						</div>
					</template>
					</div> -->

					<div :id = "'bubbleslider' + index" class="sixteen wide column" style="margin-bottom: 1.5rem; padding-top: 0;">
						<p>Value:</p>
						<template v-if="model.dtype !== 'd'" >
							<div>
								<vue-slider style="margin-bottom: 0" :id="'slider4'+index" v-bind="sels.objs[index].slider4" @drag-end="updateSlider4(index)" v-model="sels.objs[index].slider4.value"></vue-slider>
								<div style="width: 100%">
										<div style="width: 15%;text-align: left;display:inline-block">0</div><div style="width: 50%;text-align:center;display:inline-block;">0.06</div><div style="width: 35%;text-align: right;display:inline-block">0.2</div>
								</div>
							</div>
							
						</template>
						</div>
					
					<p>Reference- {{ cals.ops[ sels.otype ] }}</p>
				</div>
				<div class="sixteen wide column" style="margin-bottom: .4rem; padding-top: 0;">
					<button style="float: left;" class="ui tiny button" :class="areaselState" v-on:click="optAreaSelect(index)">Area Select</button>
					<div style="margin-top: .4rem;" class="ui checkbox">
					  <input type="checkbox" :name="'reverseColor'+index" v-model="sels.objs[index].reverse" @click="revClick(index)">
					  <label>REV.</label>
					</div>
				</div>

				<div :id="'maplegend'+index"  class="sixteen wide column">
					<svg :id="'gridmaplegend'+index" style="display: none;" ></svg>
				</div>
				
				<div :id = "'districtslider'+index"  class="sixteen wide column" style="margin-bottom: 1.5rem; padding-top: 0;">
					<p>Number of Cluster:</p>
					<template v-if="model.dtype !== 'd'" >
						<div>
							<vue-slider :id="'slider3'+index"  v-bind="sels.objs[index].slider3" @drag-end="updateSlider3(index)" v-model="sels.objs[index].slider3.value"></vue-slider>
						</div>
					</template>
				</div>
							
				<div :id = "'clusterslider'+index"  class="sixteen wide column" style="margin-bottom: 1.5rem; padding-top: 0;">
					<p>Min-cluster-density:</p>
					<template v-if="model.dtype !== 'd'" >
						<div>
							<vue-slider :id="'slider1'+index"  v-bind="sels.objs[index].slider1" @drag-end="updateSlider1(index)" v-model="sels.objs[index].slider1.value"></vue-slider>
						</div>
					</template>
					<p>Min-cluster-size:</p>
					<template v-if="model.dtype !== 'd'" >
						<div>
							<vue-slider :id="'slider2'+index" v-bind="sels.objs[index].slider2" @drag-end="updateSlider2(index)" v-model="sels.objs[index].slider2.value"></vue-slider>
						</div>
					</template>
				</div>
				
			</div>
		</div>
	</div>
</div>
